<strong class="d-block h6 my-2 pb-2 border-bottom">On this page</strong>
<nav id="TableOfContents">
    <ul>
        <li><a href="#examples">Examples</a>
            <ul>
                <li><a href="#headings">Headings</a></li>
                <li><a href="#buttons">Buttons</a></li>
                <li><a href="#positioned">Positioned</a></li>
            </ul>
        </li>
        <li><a href="#background-colors">Background colors</a></li>
        <li><a href="#pill-badges">Pill badges</a></li>
        <li><a href="#sass">Sass</a>
            <ul>
                <li><a href="#variables">Variables</a></li>
            </ul>
        </li>
    </ul>
</nav>